// ======================================
//  Mixins
// ======================================


// buttons

@mixin buttons(
$btn-text-color:null,
$btn-margin:null,
$backgroundHover:null, 
$backgroundColor:null
)

{ font-family: 'Gilroy-regular',Arial,Helvetica,sans-serif;
  display:block;
  color:$btn-text-color;
  font-size: 16px;
  font-weight:$font-weight--meduim;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  padding:12px 16px;
  margin-bottom:$btn-margin;
  border:none;
  background-color: $backgroundColor;
  @content;
  &:hover{
    background-color:$backgroundHover;
    }
}

// responsive flex container

@mixin flexy (
$dir:null,
$wrap:null,
$just:null,
$alself:null,
$alitems:null,
$alicont:null)
{
display:flex;
flex-direction: $dir;
flex-wrap: $wrap;
justify-content: $just;
align-self: $alself;
align-items: $alitems;
align-content: $alicont;
}
 
// images

@mixin imagewrapper(
$img-brdr:none,
$img-padding:none,
$img-width:null
){
padding:30px;
border-radius:12px;
background: #fff;
box-shadow: 0 20px 25px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
width:$img-width;
img{
  display:block;
  margin:0 auto;
  opacity: 1;
}
@content;
}

// h1 styling

@mixin h1 {
font-size: 32px;
line-height:45px;
@include mq ('desktop'){
  font-size:50px;
  line-height:68px;
}
@content;
}

// h2 styling
@mixin h2 {
  color:$mainHeading;
  font-size:3.3rem;
  padding: 0 16px;
  text-align: center;
  position: relative;
  line-height: 39px;
  @include mq ('mobile'){
    width:100%;
  }
  @include mq ('tablet'){
    width:75%;
  }
  @include mq ('desktop'){
    width:87.5%;
  }
  @content;
}


// acnhor links styling

@mixin link(
  $link-color:null
) {
  font-weight:$font-weight--meduim;
  text-decoration: none;

}

@mixin p{
  line-height: 26px;
  margin:20px 0;
  font-weight:400;
  font-size:16px;
  color:$mainCopy;
  @include mq('tablet'){
    font-size:20px;
  }

}

@mixin heading{
  font-size:33px;
  @include mq('tablet'){
    font-size:40px;
  }
  @include mq('desktop'){
    font-size:45px;
  }
}

// form


@mixin form-input{
    margin-bottom:15px;
    border-radius: 8px;
    border:2px solid #B6BBC1;
    @content;
}



// media queries for navigation only

@mixin mq ($breakpoint){

  @if $breakpoint == 'mobile'{
    @media (min-width:$breakpoint-mobile){
      @content;
  }
 }

 @else if $breakpoint == 'tablet'{
  @media (min-width:$breakpoint-tablet){
    @content;
}
}


  @else if $breakpoint == 'desktop'{
    @media (min-width:$breakpoint-desktop){
      @content;
    }
  }
}
