// ======================================
//  Form
// ======================================

// form div for enquiry
.formdiv{
  background-image: url('C:/Users/jiten/Desktop/ideagen/landing-page-build/images/svg/page-background-cubes.svg');
  padding: 10px 0;
  @include mq ('mobile'){
    padding: 50px 0;
  }
    & > .content-container{
      @include flexy($dir:column);
      & .svg-container{
        @include flexy($just:flex-end);
        margin-bottom: 0;
        @include mq ('mobile'){
        margin-bottom:0;
        }
        & .closeform{
          width:25px;
          @include mq('tablet'){
            width:35px;
          } 
        }
      }
      & .form_container, 
        .hero-form-container{
        @include flexy($just:center);
        & form { 

          color:$mainCopy;
          box-shadow: 0 20px 25px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
          background-color: $white;
          & fieldset{
            & label{
              font-size:14px;
              margin-bottom:5px;
            }
            & input, 
            select{
              @include form-input;
              padding:12px;
            }
            & input:hover{
              border-color:#76D7E0; 
            }
            & input:focus{
            border-color:$ideaGenblue;
            outline: none;
            }
            min-width: 90%;
            @include mq ('mobile'){
              min-width: none;
            }
            @include flexy($dir:column);
            margin-top:25px;
            border: none;
            & legend{
              font-size:1.2rem;
              margin-bottom:25px;
            }
          }
          width:100%;
          @include mq ('tablet'){
            max-width:700px;
            width:500px;
            margin-bottom:50px;
          }
          & .form_logos{
            @include flexy($just:space-around);
            & svg{
              width:200px;
              height:70px;
            }
          }

          & button{
            width:100%;
          }
        }  
     }   
    }
    & .closeform{
      height: 50px;
      width:50px;
      align-self: flex-end;
    }
}

// form div for enquiry btn

#hero-form {
  border:none;
  margin:0;
  padding:0;
  input{
  @include form-input;
  border-radius: 8px 0px 0 8px;
  border-right:none;
  padding:10px;
  @include mq ('desktop'){
    padding:12.5px;
  }
  }
  & input:hover{
    border-color:#76D7E0; 
  }
  & input:focus{
  border-color:$ideaGenblue;
  outline: none;
  }
}

.hero-form-container{
  display:none;
  @include mq ('mobile'){
    @include flexy($alitems:flex-start);
    & button{
      margin-left:initial;
      border-radius: 0px 8px 8px 0;
    }
  }
}

// pushes button down after 1700px
@media(min-width:1700px){
  .form--btn{
    margin-top:100px;
  }
}
   