// ======================================
//  navigation
// ======================================


//logo
.nav_logo{
  width:100px;
  height: 60px;
  @include mq ('mobile'){
    width:112px;
    height: 60px;
  }
  @include mq('tablet'){
    width:146px;
    height: 72px;

  }
  @include mq('desktop'){
    width:182px;
    height: 92px; 
  }
}

.nav{
  @include flexy($just:flex-start, $alitems:center);
  margin: 0 auto;

}

// enquire now button
.btn--pink{
  @include buttons($backgroundColor:$ideaGenPink,$btn-text-color:$white);
  margin-left:auto;
  cursor: pointer;
  @include mq('desktop'){
    font-size:20px; 
  }
} 


// takes the header out of parent body element to go full width
.nav-bar{
  z-index: 1000;
  width:100%;
  top:0;
  position: fixed;
  background-color: $white;
  box-shadow: 0 10px 15px 0 rgb(0 79 88 / 10%), 0 -1px 6px 0 rgb(0 79 88 / 5%);
  & nav{
    @include flexy($just:center);
    & ul{
      & li{
        font-size:20px;
        cursor: pointer;
        }
        display:none; 
        @include mq ('tablet'){
        @include flexy($alitems:center);
        list-style: none;
        color:black;
        width:310px;
        & li:nth-of-type(2){
          margin-left:auto;
        }
      }  
    }
  }
}