* {
  box-sizing:border-box;
}

.container{
  color:$white;
  font-size:1rem;
  line-height:($base--line--height/$base-font--size);
  font-family: $font-stack-primary;
  margin:auto;
  font-weight:100;
}

h1,h2, h3, h4{
  margin: 20px 0;
  font-weight:700;
  color:$mainHeading;
}

.content-container{
  max-width:1600px; 
  width:90%;
  margin: 0 auto;
}

// hero
 main .grid__row:first-child{
   height:initial;
  padding:80px 0;
   @include mq('tablet'){
   }
   @include mq ('mobile'){
    padding-top:67px;
  }
  @include mq('tablet'){
    padding-top:77px;

  }
  @include mq('desktop'){
    padding-top:97px;
    height:100vh;
  }
 }

 .hero{
   padding: 25px 0;
   @include mq('tablet'){
    padding: 50px 0;
   }
 }

 // Features
 .features{
   background-color:$grey-bg;
 }

