* {
  box-sizing:border-box;
}

.container{
  color:$white;
  font-size:1rem;
  line-height:($base--line--height/$base-font--size);
  font-family: $font-stack-primary;
  margin:auto;
}

h1,h2, h3, h4{
  margin: 20px 0;
  font-weight:700;
  color:$mainHeading;
}

.content-container{
  max-width:1600px;
  width:90%;
  margin: 0 auto;
}


 main .grid__row:first-child{
   height:100vh;
   background-color: red;
   @include mq ('mobile'){
    padding-top:67px;
  }
  @include mq('tablet'){
    padding-top:77px;

  }
  @include mq('desktop'){
    padding-top:97px;
  }
 }
