* {
  box-sizing:border-box;
}

.container{
  color:$white;
  font-size:1rem;
  line-height:($base--line--height/$base-font--size);
  font-family: $font-stack-primary;
  margin:auto;
  font-weight:100;
}

h1,h2, h3, h4{
  margin: 20px 0;
  font-weight:700;
  color:$mainHeading;
}

 h4{
   font-size:20px;
 }

.content-container{
  max-width:1600px; 
  width:90%;
  margin: 0 auto;
}

// hero
 main .grid__row:first-child{
   height:initial;
  padding:80px 0;
   @include mq('tablet'){
   }
   @include mq ('mobile'){
    padding-top:67px;
  }
  @include mq('tablet'){
    padding-top:77px;

  }
  @include mq('desktop'){
    padding-top:97px;
    height:100vh;
  }
 }

 .hero{
   padding: 25px 0;
   @include mq('tablet'){
    padding: 50px 0;
   }
 }

 // Features
 .features{
   background-color:$grey-bg;
 }

 // testimonial
.testimonial-section{
  border-bottom: 5px solid #dde0e3;
  background: url('C:/Users/jiten/Desktop/ideagen/landing-page-build/assets/images/svg/page-background-cubes.svg');
  padding:75px 0;
  & .testimonial-heading{
    @include flexy($just:center);
    @include mq('tablet'){
      padding-bottom:20px;
    }
    & ~ .testimonial{
      padding:20px 0;
      // row change start
      @include mq('tablet'){
        @include flexy($dir:row,$alicont:center);
        width:70%;
        margin:0 auto;

      } // row change end

      & .testimonial-cubes{
        @include mq('tablet'){
          width:30%;
          order:1;
          margin:initial;
        }
        padding:20px 0;
        margin-top:20px; 
        border-radius: 10px 10px 0 0;
        @include mq('tablet'){
          border-radius:0 10px 10px 0;
          padding:0;
        }
        @include flexy($just:center, $alitems:center);
        background-color:$mainHeading;
        & svg{
          width:60px;  
          height: 87px;
        }
      }
      .testimonial-text{
        @include mq('tablet'){
          width:70%;
          border-radius: 10px 0 0 10px;
          
        }
       border-radius:0 0 10px 10px;
       padding:16px;
       background-color: $ideaGenblue;
       & .para{
         color:$white;
       }
     }
    }
  }
}

// footer

footer{
  & .content-container{
    margin:50px 30px;
    & p{
      color:$mainCopy;
      line-height: 26px;
      font-size:14px;
    }
    & button{
      margin-left:initial;
    }

    & .sm-icons{
      width:280px;
      @include flexy($just:space-between,$alitems:center);
      padding: 25px 0;
      & svg{
        cursor: pointer;
        width:22px;
        height:22px;
      }
    }
  }
}


